<div [ngStyle]="{'width': this.getWidth()}">
  <div style="width: 100%; background-color: black">
    <div *ngIf="phoneOptions?.largeNotch && isInPortraitMode() && !fullscreen"
      style="width: 100%; background-color: rgba(77, 157, 42, 0.8);" class="flex-two"
      [ngStyle]="{'justify-content': getNotchPosition()}">
      <div class="largeNotch"
        [ngStyle]="{'width': phoneOptions?.largeNotchWidth, 'height': phoneOptions?.largeNotchHeight, 'border-radius': phoneOptions?.largeNotchRadius}">
      </div>
    </div>
    <div *ngIf="phoneOptions?.smallNotch && isInPortraitMode() && !fullscreen"
      style="width: 100%; background-color: rgba(77, 157, 42, 0.8);" class="flex-two"
      [ngStyle]="{'justify-content': getNotchPosition(), 'padding-left': phoneOptions?.smallNotchCustomLeftMargin, 'padding-right': phoneOptions?.smallNotchCustomRightMargin}">
      <div class="smallNotch"
        [ngStyle]="{'width': phoneOptions?.smallNotchWidth, 'height': phoneOptions?.smallNotchWidth, 'border-radius': phoneOptions?.smallNotchRadius, 'margin-top': getNotchMarginTop()}">
      </div>
    </div>
    <div>
      <mat-toolbar style="background-color: #4d9d2a">
        <div class="flex">
          <div>
            <button mat-icon-button disabled style="color: white">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div *ngIf="!isEditing()">
            <span (dblclick)="edit()" style="color: whitesmoke">{{toptext}}</span>
          </div>
          <div *ngIf="isEditing()" style="margin-left: 30px; margin-right: 30px;">
            <input matInput placeholder="Ex. Homepage" value={{toptext}} (keyup)="setPageName($event)" style="color:white;background-color: rgb(59, 131, 29);text-align: center;">
          </div>
          <div>
            <button mat-icon-button disabled style="color: white">
              <mat-icon>notifications</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>