<div [ngStyle]="{'width': this.getWidth()}">
  <mat-toolbar style="background-color: #4d9d2a">
    <div class="flex">
      <div>
        <button mat-icon-button disabled style="color: white">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <span style="color: whitesmoke">{{toptext}}</span>
      </div>
      <div>
        <button mat-icon-button disabled style="color: white">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
