.component-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .component-icon-container{
        .component-icon{
            width: max-content;
            height: max-content;
            font-size: 36px;
        }
    }

    .component-subtitle{
        p{
            font-size: 14px;
        }
    }
}