<div class="flex-one">
  <div class="flex-two">
    <div class="phoneContainer">
      <div class="phone" style="border: 1px solid black; height: 100%;" [ngStyle]="{'border-radius': phoneOptions.borderRadius, 'border-width': phoneOptions.borderThickness}">
        <app-preview-topbar></app-preview-topbar>
        <div class="gridContainer">
          <gridster [options]="gridOptions" class="customGrid">
            <gridster-item class="item" [item]="component.gridsterItem" *ngFor="let component of dashboardComponents">
              <app-preview-parentwidget [widgetType]="component.widgetType"></app-preview-parentwidget>
            </gridster-item>
          </gridster>
        </div>
      </div>
    </div>
  </div>
</div>
