.flex-one {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-two {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phoneContainer {
  max-width: 90%;
  max-height: 85%;
  // flex: 0 0 auto;
  // float: left;
  // min-height: 500px;
  // width: 400px;
}

.phone {
  box-shadow: 0 6px 12px #00000033;
  background-color: #222;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  flex-grow: 100;
  height: 100%;
  border: 1px solid black;
}

.gridContainer {
  flex: 1 1 auto;
}

.widgetContainer {
  height: 100%;
  width: 100%;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 8px;
}

.item {
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
}

.customGrid {
  background-color: #FFFFFF;
  overflow-y: overlay;
}
