a {
  font-weight: 600;
  text-transform: uppercase;
}

.content {
  margin-top: 20px;
  font-size: medium;
  min-height: 100px;
}

.cancel {
  font-weight: 500;
  color: #70c13c;
  cursor: pointer;
}

.confirm {
  font-weight: 500;
  color: #9d2a2a;
  margin-left: 30px;
  cursor: pointer;
}

.confirm a{
  font-weight: 500;
}

.button{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .checkbox{
    margin-right: auto;
    
  }
}

