<div class="left-bar-wrapper">
    <mat-toolbar color="primary" class="toolbar-header">
        <mat-toolbar-row class="toolbar-row">
            <span>Component Browser</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="tab-component-browser tab-wrapper">
        <div class="asset-filter-container">
            <h3>Filter on asset type</h3>
            <mat-form-field class="asset-filter" appearance="fill">
                <mat-label>Choose an asset type</mat-label>
                <mat-select disableOptionCentering [(value)]='selectedAssetType' (selectionChange)="updateAssetValue()">
                    <mat-option value=All>
                        <div class="option">
                            <or-icon class="or-icon" icon="mdi:check" style="--or-icon-fill: #4d9d2a"></or-icon> All
                        </div>
                    </mat-option>
                    <mat-option *ngFor="let type of assetTypes" [value]="type.name">
                        <div class="option">
                            <or-icon class="or-icon" icon="{{type.icon}}" style="--or-icon-fill: #{{type.colour}}"></or-icon>
                            {{formatAssetTypeName(type.name)}}
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="component-browser-container">
            <h3>Browse components</h3>
            <div id="component-list" class="component-list-wrapper">
                <div *ngFor="let component of selectedComponents" class="component-card-wrapper" style="z-index: 999; position: relative;" (mouseenter)="changeHoverTo(component.componentType)" (mouseleave)="removeHover()">
                    <div class="tooltipHover" *ngIf="hoveredWidgetType == component.componentType">
                        <app-component-tooltip [widgetType]="component.componentType" [widgetTitle]="component.componentTitle"></app-component-tooltip>
                    </div>
                    <mat-grid-list cols="1" rowHeight="100px" style="z-index: 999">
                        <mat-grid-tile colspan="1" rowspan="1" style="border: 0px solid black;z-index: 999"
                            draggable="true" (dragstart)="dragStartHandler($event,component)"
                            (dragend)="dragEndHandler($event,component)">
                            <!-- <div style="z-index: 100000" class="draggableComponent" draggable="true"
                                (dragstart)="dragStartHandler($event,component)"
                                (dragend)="dragEndHandler($event,component)"> -->
                            <div style="z-index: 1000" class="draggableComponent">
                                <app-component-thumbnail componentTitle={{component.componentTitle}}
                                    iconCode={{component.iconCode}} componentType={{component.componentType}}>
                                </app-component-thumbnail>
                            </div>
                            <div *ngIf="component.isdragging" class="draggableComponent"
                                style="position: absolute; z-index: 999">
                                <app-component-thumbnail componentTitle={{component.componentTitle}}
                                    iconCode={{component.iconCode}} componentType={{component.componentType}}>
                                </app-component-thumbnail>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>
<app-onboarding></app-onboarding>
