.left-bar-wrapper{
    height: 100%;
    
    .tab-wrapper{
        padding: 30px ;

        h3{
            font-weight: 500;
        }
    }

    .tab-component-browser{
        .search-container{
            margin-bottom: 20px;
        }

        .asset-filter-container{
            margin-bottom: 20px;

            .asset-filter{
                width: 100%;
            }
        }

        .component-browser-container{
            #component-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .component-card-wrapper{
                    flex-basis: 33%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    .tab-layers{
        padding: 0;

        .heading-container{
            padding: 30px 30px 10px 30px;
        }

        .layer-item{
            display: flex;
            justify-content: flex-start;
            padding: 5px 15px;

            span{

            }

            .component-icon{
                margin-right: 15px;
            }

            &.selected{
                background: rgba($color: #4D9D2A, $alpha: 0.25);

                span{
                    color: #4D9D2A;
                }

                .component-icon{
                    color: #4D9D2A;
                }
            }
        }
    }
}
