.screen_body {
    position: relative;
    margin-left: 40px;
    max-width: 340px;
}

.top_info {
    margin: 20px 34px;
    width: 340px;
    font-weight: 500;
}

.material-devider {
    margin: 20px;
    height: 2px;
    width: 330px;
}

.title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.form {
    margin-top: 10px;
    width: 300px;
}

.optional {
    margin-bottom: 30px;
}
