.screen_body {
    position: relative;
    margin-left: 40px;
    max-width: 340px;
}

.top_info {
    margin-left: 40px;
    margin-top: 30px;
    width: 340px;
    font-weight: 500;
    font-size: medium;
}

.material-devider {
    margin-top: 10px;
    margin-left: 30px;
    width: 340px;
    border-top-width: 2.5px;
}

.title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.form {
    margin-top: 10px;
    width: 300px;
}

.optional {
    margin-bottom: 30px;
}

.flex-two {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-field{
    width: 100%;
    margin-top: 10px;

    button{
        position: absolute;
        right: 0px;
        top: 45%;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 5px;
        transition: all 250ms ease-out;

        &:hover{
            cursor: pointer;
            background: darken($color: white, $amount: 10%);
            border-radius: 7px;
            color: lighten($color: black, $amount: 10%);
        }
    }

    input{
        text-transform: capitalize;

        &:hover{
            cursor: pointer;
        }
    }

    &::ng-deep.mat-form-field-wrapper{
        width: 100%;
    
        .mat-form-field-infix{
            display: flex;
            position: relative;
        }
    }
}


