<mat-tab-group mat-stretch-tabs animationDuration="0ms" style="height: 830px;">
    <mat-tab label="Components">
        <ng-template matTabContent>
            <div class="top_info">
                <div class="icon">
                    Info card
                    <!-- <Info card> as name will be the paramter sent by preview -->
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-template>
    </mat-tab>
    <mat-tab label="Screen">
        <ng-template matTabContent>
            <app-layout-screen></app-layout-screen>
        </ng-template>
    </mat-tab>

</mat-tab-group>