.widget {
  padding: 6px;
}

.flex-one {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-two {
  flex: 1 0 auto;
  display: flex;
  // width: 100%;
  justify-content: center;
  // align-items: center;
}
.childWidget {
  width: 100%;
  height: 100%;
}
.thisiscentered {
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
