<div *ngIf="isOpened" class="attribute-picker-wrapper">
  <mat-toolbar color="primary" class="toolbar-header">
    <mat-toolbar-row class="toolbar-row">
      <span>Attribute Picker</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="top-bar">
    </div>
    <div class="picker-container">
      <div class="tabs">
        <div class="left-tab tab">
          <mat-toolbar color="primary" class="sub-header">
            <mat-toolbar-row class="toolbar-row">
              <span>Asset</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <div class="picker">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="onAssetSelect(splitNodeId(node.name))">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button>
              </button>
              {{splitNodeName(node.name)}}
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </mat-tree-node>
            </mat-tree>            
          </div>
        </div>       
        <div class="right-tab tab">
          <mat-toolbar color="primary" class="sub-header">
            <mat-toolbar-row class="toolbar-row">
              <span>Attribute</span>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
      <div class="bottom-bar">
        <a (click)="closePicker()">CANCEL</a>
        <a href="#">SELECT ATTRIBUTE</a>
      </div>
    </div>
  </div>
</div>
