::ng-deep mat-tree-node.mat-tree-node{
    &:hover{
        cursor: pointer;
    }

    &[aria-selected="true"]{
        color: green;
    }

    .or-icon{
        margin-right: 10px;
    }

    .mat-button-disabled {
        width: 0;
        margin-right: 15px;
    }
}