.properties {
    background-color: #4d9d2a;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: white;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.tab {
    height: 55px;
    text-align: center;
}

.right_sidebar{
    min-height: 100%;
}
