.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.screen_body {
  position: relative;
  // padding: 20px 30px 0 30px;
  padding: 0;
}

.top_info {
  padding: 0 25px;
  margin-top: 30px;
  width: 340px;
  font-weight: 500;
  font-size: medium;
}

.icon {
  display: flex;
  align-items: center;
  size: 16px;
}

.home_icon {
  margin-right: 10px;
  transform: scale(0.7);
}

.material-devider {
  margin-top: 10px;
  margin-left: 30px;
  width: 340px;
  border-top-width: 2.5px;

  &.advanced-devider{
    margin-left: 0;
    width: 100%;
  }
}

.title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.form {
  margin: 20px 14px 10px 0px;
  width: 100%;
  height: 60px;
}

.page_name {
  width: 100%;
}

.set_homepage {
  margin-top: 0px;
}

.in_navigation {
  margin-top: -8px;
}

.checkboxlist {
  text-align: left;
  size: 16px;
}

.mat-checkbox {
  height: 35px;
  width: 100%;
  margin: 5px 0px;
}

::ng-deep .mat-checkbox-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

:host ::ng-deep .mat-checkbox-label-before .mat-checkbox-inner-container {
  margin-right: 0;
}

.custom_size {
  text-align: justify;
  margin-top: 10px;
}

.delete {
  position: fixed;
  bottom: 0;
  padding: 8px 22px 8px 22px;
  border-top: 1px solid #E0E0E0;
  // margin-bottom: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.delete a {
  color: red;
  font-size: 18px;
}

.safe_space_form {
  width: 100%;
  height: 60px;
}

.customize_screen {
  margin-top: 10px;
}

.advanced-toggle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

  span {
    font-weight: 500;
    font-size: 16px;
    color: black;
  }
}

::ng-deep mat-checkbox.mat-checkbox-checked{
    .mat-checkbox-inner-container{
        span.mat-checkbox-background{
            background-color: #4d9d2a;
        }
    }
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
