<div class="card_setting">
    <div *ngIf="showCardView()" class="label_card">

        <form class="form">
            <mat-form-field class="label_card_text" appearance="outline">
                <mat-label>Card text</mat-label>
                <input matInput placeholder="Ex. Room temperature" value={{selectedWidgetText}} (keyup)="setValue($event)"
                       [(ngModel)]="selectedWidgetText" name="selectedWidgetText">
                <!-- value will be passed by the preview -->
            </mat-form-field>
        </form>

        <mat-chip-list>
            <a style="margin-right: 30px">Width</a>
            <mat-chip #c="matChip" *ngFor="let width of widths" [value]="width.value" disabled>{{width.viewValue}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div *ngIf="showGraphView()">
        <a>graph card setting</a>
    </div>

    <div *ngIf="showButtonView()">
        <a>button card setting</a>
    </div>

    <div *ngIf="showChartView()">
        <a>bar chart card setting</a>
    </div>
    <div *ngIf="showDeleteButton()" class="delete" style="cursor: pointer;">
        <a (click)="openDeleteDialog()">Delete Component</a>
    </div>
</div>
